<div>
  <h5 class="mb-3 font-medium">Category</h5>
  <div class="d-flex justify-content-end mb-2">
    <button type="button" (click)="Create(content)" class="btn btn-success" data-toggle="modal"
      data-target="#exampleModal">Add New</button>
  </div>
  <div class="table-inside">
    <table class="order-table table-auto ltMd:responsive">
      <thead>
        <tr class="border text-left">
          <th>
            <span class="text-gray-800">Name</span>
          </th>
          <th>
            <span class="text-gray-800">Type</span>
          </th>
          <th>
            <span class="text-gray-800">Description</span>
          </th>
          <th class="text-right">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let category of categoryList" class="border">
          <td>
            <a class="text-primary" href="/">{{category.name}}</a>
          </td>
          <td>
            {{ getcategoryTypeName(category.type) }}
          </td>
          <td>
            <span>{{category.description}}</span>
          </td>
          <td class="text-right">
            <button class="action_icon__btn" mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xposition="before">
              <button mat-menu-item (click)="Edit(content, category)">
                <mat-icon>dialpad</mat-icon>
                <span>Edit</span>
              </button>
              <button mat-menu-item (click)="deleteCategory(category._id)">
                <mat-icon>delete</mat-icon>
                <span>Delete</span>
              </button>
            </mat-menu>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Category</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="categoryForm">
      <div class="form-group">
        <label for="categoryame">Name</label>
        <input type="text" class="form-control" name="categoryames" id="categoryame" formControlName="name" required
          placeholder="Enter name">
        <small *ngIf="showValidation  && categoryForm.controls.name.status == 'INVALID'"
          class="form-text text-danger">Required.</small>
      </div>
      <div class="form-group mt-2">
        <label for="type">Type</label>
        <select class="form-select" aria-label="Default select example" formControlName="type">
          <option>Open this select menu</option>
          <option *ngFor="let item of categoryType" [value]="item.value">{{item.name}}</option>
        </select>
      </div>
      <div class="form-group mt-2">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" name="description" formControlName="description"></textarea>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="close(modal)">cancel</button>
    <button type="button" class="btn btn-success" (click)="save(modal)">Save</button>
  </div>
</ng-template>